.employee-input-container{
    min-width: 100% !important;
    max-width: 100% !important;
}

.employee-input{
    width: auto !important;
}

.submit-btn{
    margin-top: 20px;
    background-color: #333 !important;
}